.barCnt {
    position: relative;
    height: 10px;
    padding: 5px 0px;
    z-index: 200;
  }
  
  .preBar{
    position: relative;
    z-index: 301;
    width: 0;
  }
  
  .barCnt .preBar {
    /* position: absolute; */
    background-color: #489fee;
    height: 5px;
    line-height: 5px;
    /* z-index: 200; */
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    pointer-events: none;
  }
  
  input[type=range].colorized {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    cursor: ew-resize;
    left: 0px
  }
  
  input[type=range].colorized::-webkit-slider-runnable-track {
    height: 5px;
    background: lightgrey;
    border: none;
    border-radius: 3px;
  }
  
  input[type=range].colorized::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #00001E;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    border-color: #489FEE;
    margin-top: -5px;
    z-index: 400;
    position: relative;
    cursor: pointer;
    /* transition: height .01s ease-in-out; */
  }
  
  input[type=range].colorized:focus {
    outline: none;
  }
  
  input[type=range].colorized:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }
  
  input[type=range].colorized::-moz-range-track {
    width: 100%;
    height: 5px;
    background: lightgray;
    border: none;
    border-radius: 3px;
  }
  
  input[type=range].colorized::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: lightgray;
    z-index: 400;
  }
  
  input[type=range].colorized::-moz-focus-outer {
    border: 0;
  }
  
  /* input[type=range]:hover::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
    margin-top: -8px;
  } */
  

.button
{
    /*background-color: #4CAF50; */
    /* border: none; */
    /*color: white; */
    line-height: 1;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.default
{
    background-color: #ffffff;
    color: black;
    border: 1px solid #dcdfe6;
}

.default:hover
{
    background-color: #e7e7e7;
    color: #409eff;
    border-color: #409eff;
}

.primary
{
    background-color: #409eff;
    color: #ffffff;
    border-color: #409eff;
}

.primary:hover
{
    background-color: #77B4F8;
}

.success
{
    background-color: #67c23a;
    color: #ffffff;
    border-color: #67c23a;
}

.success:hover
{
    background-color: #98C76D
}

.info
{
    background-color: #909399;
    color: #ffffff;
    border-color: #909399;
}

.info:hover
{
    background-color: #A7A9AD;
}

.warning
{
    background-color: #e6a23c;
    color: #ffffff;
    border-color: #e6a23c;
}

.warning:hover
{
    background-color: #E3B572
}

.danger
{
    background-color: #f56c6c;
    color: #ffffff;
    border-color: #f56c6c;
}

.danger:hover
{
    background-color: #E6908E;
} 